/* load fonts */
@font-face {
    font-family: "PNC";
    src: url("../fonts/Helvetica-Font/Helvetica.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--body-bg);
    font-family: "Segoe UI Historic", "Segoe UI", "PNC", Helvetica, Arial,
        sans-serif;
    color: var(--primary-text);
}
