.d-flex {
    display: flex;
}
.p-absolute {
    position: absolute;
}
.p-relative {
    position: relative;
}
.list-none {
    list-style: none;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.pointer {
    cursor: pointer;
}
.rounded {
    border-radius: 10px;
}
.h-100 {
    height: 100%;
}
