:root {
    --nav-bg: rgb(36, 37, 38);
    --nav-input-bg: rgb(58, 59, 60);
    --nav-input-text: rgb(236, 238, 243);
    --nav-search-icon: rgb(176, 179, 184);
    --body-bg: rgb(24, 25, 26);
    --logo-color: rgb(45, 136, 255);
    --primary-text: #e4e6eb;
}
